<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon.png">
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-12 text-center mt-4 mb-2'>
          <h1>Bienvenido a Nodepop</h1>
        </div>
        <div class='col-12'>
          <p>A continuación puede ver todos los anuncios disponibles con la búsqueda realizada</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 anuncios mb-4'>
          <% if (locals.number && locals.number > 0) { %>
            <% for(let i=0; i<items.length; i++) { %>
              <% if (items[i].active) { %>
                  <div class="card">
                    <a href="/?type=<%=items[i].type%>">
                      <img src="<%= items[i].type === 'buy' ? '/public/images/buy.png' : '/public/images/sell.png' %>" class="card-icon" alt="icon">
                    </a>
                    <img src="<%= items[i].photo %>" class="card-img-top" alt="...">
                    <span class="price"><%= items[i].price.toFixed(2) %> €</span>
                    <div class="card-body text-justify">
                        <h5 class="card-title text-uppercase mb-1 font-weight-bold">
                          <%= items[i].name %> 
                        </h5>
                        <p class="card-text text-black-50"><small><%= items[i].description %></small></p>
                    </div>
                    <div class="card-footer text-muted py-1 px-2">
                      <p class="card-text mb-1">
                        <% for(let j=0; j<items[i].tags.length; j++) { %>
                          <a href="/?tag=<%=items[i].tags[j]%>"><span class="badge badge-<%=items[i].tags[j]%>"><%=items[i].tags[j]%></span></a>
                        <% } %>
                      </p>
                      <a href="/<%=items[i].id%>" class="btn btn-block btn-primary">Detalle</a>
                      <small id="passwordHelpInline" class="text-muted">
                        Anuncio creado <%= moment(items[i].createdAt).fromNow(); %>
                      </small>
                    </div>
                  </div>
              <% } %>
            <% } %>
          <% } else { %>
            <p class="font-weight-bold">No hay resultados</p>
          <% } %>
        </div>
      </div>
    </div>
    
  </body>
</html>